<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Select Picture to remove/edit</h4>
                </div>
                <div>
                    <input type="file" id="file1" name="file" multiple  ng-files="getTheFiles($files)" />            
                    <input type="button" ng-click="uploadFiles()" value="Upload" />
                </div>
                <div>
                </div>
            </div>
        </div>

    </div>
</div>
