<hr/>
            <div id="page-footer" class="text-center">
                <footer style="display:block;" class="footer">
                    <div style="">
                        <p>
                            Copyright &copy; 2019. Gender Empowerment &amp; Wellness Center. All rights reserved.
                        </p>
                        <p class="text-muted">
                            
                            Site created by: Daniel Chang'masa [<a href="mailto:danchangmasa@gmail.com">danchangmasa@gmail.com</a>]

                        </p>
                        <!--<div><a href="https://www.iconfinder.com/icons/1034367/advantage_friends_group_team_teamwork_icon">ICONS_</a></div>-->
                    </div>
                    
                    <div class="row">
                        <div id="socialLinks" class="col-12">
                            <a href="" class="fa fa-facebook-square fa-3x social" id="social-fb"></a>
                            <a href="" class="fa fa-twitter-square fa-3x social" id="social-tw"></a>
                            <a href="" class="fa fa-youtube-square fa-3x social" id="social-yt"></a>
                        </div>
                    </div>
                </footer>
                
            </div>
        </div>
        <%-- <script type="text/javascript" src="<c:url value="/public/js/jquery-3.1.0.min.js"/>"></script> --%>
		<script type="text/javascript" src="<c:url value="/public/js/bootstrap.min.js"/>"></script>
		<!-- 3rd party libraries -->

<!-- AngularJS 1.7.5 -->
<script type="text/javascript" src="<c:url value="/public/js/scripts/angular.min.js"/>"></script>
<script type="text/javascript" src="<c:url value="/public/js/scripts/angular-route.min.js"/>"></script>
<script type="text/javascript" src="<c:url value="/public/js/scripts/angular-resource.min.js"/>"></script>
<script type="text/javascript" src="<c:url value="/public/js/scripts/angular-animate.min.js"/>"></script>

<!-- angular-ui-bootstrap 2.5.0 -->
<script type="text/javascript" src="<c:url value="/public/js/scripts/ui-bootstrap.min.js"/>"></script>
<script type="text/javascript" src="<c:url value="/public/js/scripts/ui-bootstrap-tpls.min.js"/>"></script>

<!-- AngularJS Toaster 2.2.0 -->
<script type="text/javascript" src="<c:url value="/public/js/scripts/toaster.js"/>"></script>

<!-- angular-loadidata-ng-bar -->
<script type="text/javascript" src="<c:url value="/public/js/scripts/loading-bar.js"/>"></script>

<!-- Load app main script -->
<script type="text/javascript" src="<c:url value="/public/js/app/app.js"/>"></script>

<!-- Load controllers -->
<script type="text/javascript" src="<c:url value="/public/js/app/controllers/HomeController.js"/>"></script>
<script type="text/javascript" src="<c:url value="/public/js/app/controllers/AboutUsController.js"/>"></script>
<script type="text/javascript">
    //gewecPortalApp.element(document.getElementsByTagName('head')).append(angular.element('<base href="' + window.location.pathname + '" />'));
</script>
    </body>
</html>
